.MovieCategory{
    margin: 1rem;
    .MovieCategory__liste{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        .MovieCategory__item{
            display: flex;
            .MovieCategory__nom{
                width: 20rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
            }
        }
    }
}