<nav class="navbar font-sans">
  <div class="navbar__left">
    <img onclick="{{action}}" class="navbar__logo" src="/~ory3/SAE2.03-Ory/SAE2.03-Ory_surprise/server/icon/{{logo}}" alt="logo">
    <ul class="navbar__list">
      {{navList}}
    </ul>
  </div>
  
  <div onclick="{{action2}}" class="navbar__profilContainer">
    <img class="navbar__imageProfil" src="/~ory3/SAE2.03-Ory/SAE2.03-Ory_surprise/server/icon/{{image}}" alt="pdp">
    <p class="navbar__profilTexte">Inloggen</p>
  </div>
</nav>
